a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
      color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: underline;
      text-overflow: clip;
  }
  
  a:active {
      color: rgb(255, 0, 0);
      background-color: transparent;
      text-decoration: underline;
  }

  body {
     background-color: white;
     max-width: 1024px;
     margin: auto;
  }

  h2 {
      margin-top: 310px;
      outline-style: auto;
      outline-width: 100cm;
      background-color: transparent;
      border-width: 100px;
      color: black;
  }
  
  .nav {
      background-color: transparent;
      text-align: center;
      vertical-align: middle;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      word-spacing: 75px;
  }    

   .mid {
      width: 800px;
      margin: 20px;
      text-align: center;
      margin: auto;
      font-family: Arial, Helvetica, sans-serif;
  }

  .mid a {
      font-size: 25px;
  }

  .nav a{
      border: 2px solid white;
      border-radius: 5px;
      padding: 5px;
  }

  .logo{
    background-image: url(/pictures/apotheek.png);
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 60px;
  }
  
.fling-minislide {width:750px; height:200px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 750px; height: 200px;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

  .fling-minislide{
    
  }
