  .nav a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
  }
  
  .nav a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  .nav a:hover {
      color: rgb(0, 0, 0);
      background-color: transparent;
      text-decoration: underline;
      text-overflow: clip;
  }
  
  .nav a:active {
      color: rgb(255, 0, 0);
      background-color: transparent;
      text-decoration: underline;
  }

  body {
     background-color: white;
     max-width: 1024px;
     margin: auto;
  }
  
  .nav {
      background-color: transparent;
      text-align: center;
      vertical-align: middle;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      word-spacing: 75px;
  }    

   .mid {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin-top: 50px;
  }

  .nav a{
      border: 2px solid rgb(0, 0, 0);
      border-radius: 5px;
      padding: 5px;
  }

  .logo{
    border-image-repeat: no-repeat;
    margin-top: 10px;
    margin-right: 150px;
    width: 500px;
    height: 150px;
  }
  
.fling-minislide {width:750px; height:200px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 750px; height: 200px;}

@keyframes fling-minislide {25%{opacity:1;} 80%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

  .fling-minislide{
    margin-top: 70px;
  }

  .n {
    background-color: transparent;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 50px;
    vertical-align: middle;
    height: 150px;
    width: 322px;
    background-color: lightgrey;
}   

.nav2 a:link {
  color: red !important; 
  font-size: 30px;
  border-radius: 5px;
  vertical-align: middle;
  width: 322px;
  height: 150px;
  border: 2px solid rgb(0, 0, 0);
  margin-right: 60px;
  margin-left: 60px;
}

.route {
  border: 1px black;
  margin-left: 775px;
  margin-top: -200px;
}

.menu {
  width: 1015px;
  font-family: Arial, Helvetica, sans-serif;
  outline-style: auto;
  outline-width: 100cm;
  background-color: transparent;
  border-width: 100px;
  color: black;
}

.nav2 a:link {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  width: 322px;
  height: 150px;
  border-radius: 5px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 140px;
}

.button2 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  width: 322px;
  height: 150px;
  border-radius: 5px;
  font-size: 30px;
}

.button3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  width: 322px;
  height: 150px;
  border-radius: 5px;
  font-size: 30px;
}

.openingstijden {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  width: 250px;
  margin-top: 10px;
}

.adres {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-style: solid;
  border-radius: 5px;
  width: 350px;
  margin-top: -65px;
  margin-right: 100px;
  margin-left: 323px;
}
